{% extends 'base.html' %}
{% load static %}

{% block title %}日記一覧 | Private Diary{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}
<div>
    <div>
        <div>
            <h2>
                <a href="#">新規作成</a>
            </h2>
        </div>

        <!-- ページネーション処理 -->
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <!-- 前のページ -->
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <span>&nbsp;&laquo;&nbsp;</span>
                    </a>
                </li>
                {% endif %}

                <!-- ページ番号による移動 -->
                {% for page_num in page_obj.paginator.page_range %}
                    <li>
                        {% if page_num == page_obj.number %}
                            <span class="active">&nbsp;{{ page_num }}&nbsp;</span>
                        {% else %}
                            <a href="?page={{ page_num }}">&nbsp;{{ page_num }}&nbsp;</a>
                        {% endif %}
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <!-- 次のページ -->
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">
                        <span>&nbsp;&raquo;&nbsp;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        {% endif %}

        {% for diary in diary_list %}
            <section>
                <a href="{% url 'diary:diary_detail' diary.pk %}">
                    <h2>{{ diary.title }}</h2>
                    <h3>{{ diary.content|truncatechars:20 }}</h3>
                </a>
                <span>{{ diary.created_at }}</span>
            </section>
        {% empty %}
            <p>現在日記はありません</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
