{% extends 'base.html' %}
{% load static %}

{% block title %}日記詳細|Private Diary{% endblock %}

{% block contents %}
<div class="diary_detail">
    <section>
        <p class="label">タイトル</p>
        <p>{{ object.title }}</p>
    </section>
    <section>
        <p class="label">本文</p>
        <p>{{ object.content|linebreaksbr }}</p>
    </section>
    <section>
        <p class="label">写真</p>
        <p>
            {% if object.photo1 %}
                <img src="{{ object.photo1.url }}" alt="" width="200">
            {% else %}
                <span class="no_image">[no image]</span>
            {% endif %}
        </p>
        <p>
            {% if object.photo2 %}
                <img src="{{ object.photo2.url }}" alt="" width="200">
            {% else %}
                <span class="no_image">[no image]</span>
            {% endif %}
        </p>
        <p>
            {% if object.photo3 %}
                <img src="{{ object.photo3.url }}" alt="" width="200">
            {% else %}
                <span class="no_image">[no image]</span>
            {% endif %}
        </p>
    </section>
    <section>
        <p class="label">作成日時</p>
        <p>{{ object.create_at }}</p>
    </section>
    <section>
        <p class="label">更新日時</p>
        <p>{{ object.update_at }}</p>
    </section>

</div>
{% endblock %}
